<div class="table" *ngIf="tableModel">
  <div class="header-rows">
    <div class="header" [ngClass]="[header.dataSize, header.screen.screenid, header.screen.down]"
      *ngFor="let header of tableModel.headers">
      {{header.headerDisplay}}
    </div>
  </div>
  <div class="rows" (click)="onShowClicked(rowData)" [ngClass]="{'show': rowData.show}" *ngFor="let rowData of tableModel.rows">
    <div class="cell" [ngClass]="[tableModel.headers[i].dataSize, 
      tableModel.headers[i].screen.screenid, 
      tableModel.headers[i].screen.down]" *ngFor="let cellData of rowData.textElements; let i = index">
       <div class="cellheader">{{tableModel.headers[i].headerDisplay}}</div> {{ cellData.value }}
    </div>
  </div>
</div>


<!-- <div class="table">
  <div class=header-rows>
    <ng-content select="[headertamplate]"></ng-content>
  </div>
  <ng-content select="[rowtemplate]"  ></ng-content>
</div> -->