<div class="table" *ngIf="tableModel">
    <div class="header-rows">
        <div class="header" *ngFor="let header of headers; let i = index" [ngClass]="[header.data.dataSize, 
        header.data.screenid, 
        header.data.down]">
            <ng-container *ngTemplateOutlet="header.template"></ng-container>
        </div>
    </div>
    <div class="rows" (click)="onShowClicked(rowData)" [ngClass]="{'show': rowData.show}" *ngFor="let rowData of tableModel.rows">
        <div class="cell" [ngClass]="[headers[i].data.dataSize, 
        headers[i].data.screenid, 
        headers[i].data.down]" *ngFor="let cellTemplate of cells; let i = index">
            <div class="cellheader">
                <ng-container *ngTemplateOutlet="headers[i].template"></ng-container>
            </div>
            <div>{{cellTemplate.data}}</div>
            <ng-container *ngTemplateOutlet="cellTemplate.template;context:{dataentry:rowData}"></ng-container>
        </div>
    </div>
</div>