<!-- <app-template-table [rowData]="testData" [breakPoints]="displayTemplate">
  <ng-template appElementSelector [isHeader]="true" >Title</ng-template>
  <ng-template appElementSelector [isHeader]="true" >Bekrivelse</ng-template>
  <ng-template appElementSelector [isHeader]="true" >Updated</ng-template>
  <ng-template appElementSelector [isHeader]="true" >Salgs pris</ng-template>
  <ng-template appElementSelector [isHeader]="true" >Status</ng-template>

  <ng-template appElementSelector let-title="title">
    <div>{{title}}</div>
  </ng-template>
  <ng-template appElementSelector let-description="description">
    <div>{{description}}</div>
  </ng-template>
  <ng-template appElementSelector let-date="date">
    <div>{{date}}</div>
  </ng-template>
  <ng-template appElementSelector let-amount="amount">
    <div>{{amount}}</div>
  </ng-template>
  <ng-template appElementSelector let-status="status">
    <div>{{status}}</div>
  </ng-template>
</app-template-table> -->

<seg-table [gridModel]="displayTemplate">
  <seg-thead>
    <seg-td area="title">Title</seg-td>
    <seg-td area="description">Bekrivelse</seg-td>
    <seg-td area="date">date</seg-td>
    <seg-td area="amount">Salgs pris</seg-td>
    <seg-td area="status">Status</seg-td>
  </seg-thead>
  @for(data of testData; track data) {
    <seg-tr>    
        <seg-td area="title" header="Title">{{ data.title }}</seg-td>
        <seg-td area="description" header="Description">{{ data.description }}</seg-td>
        <seg-td area="date" header="date">{{ data.date }}</seg-td>
        <seg-td area="amount" header="Salgs pris">{{ data.amount }}</seg-td>
        <seg-td area="status" header="Status">{{ data.status }}</seg-td>    
    </seg-tr>
  }
</seg-table>