@import "./../css/responsive-table.scss";
@import "./../css/responsive-table-mixins.scss";

@include initalValuesStatic();

.table {
    //max-width: 500px;
    //overflow: hidden;
    width: 1024px;
}

.scroll-buttons {
    display: flex;
    flex-direction: row;

    div {
        background-color: #aaaaaa;
        margin-right: 5px;
    }
    margin: 10px 0;
}

.w {
    overflow: hidden;
    width: 1024px;
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 95vw;
    height: 80vh;
}

.movepopup {
    display: none;
    right: 30px;

    &.left {
        left: 30px;
        right: auto;
    }

    &.show {
        display: block;
        position: absolute;
        top: 50vh;

        width: 30px;
        height: 30px;

        z-index: 1;
        background-color: #fff00f;
    }
}
