@mixin breaks ($rows, $max-width) {
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;

    @media screen and (max-width: $max-width) {
        grid-template-columns: $rows;
    }
}

.table {
    .header-rows {
        display: grid;
        @include breaks(1fr 3fr 1fr 1fr, 1500px);
        @include breaks(1fr 3fr 1fr, 1400px);
        border: 1px solid #333aaa;
        max-height: 30px;
        overflow: hidden;
        .header {
            padding: 10px 10px;
        }
    }

    .rows {
        display: grid;
        @include breaks(1fr 3fr 1fr 1fr, 1500px);
        @include breaks(1fr 3fr 1fr,1400px);
        border: 1px solid #333aaa;
        border-top: none;
        overflow: hidden;
        max-height: 30px;

        transition: max-height 500ms;
        &.show {
            max-height: 200px;
        }

        .cell {
            padding: 10px 10px;
        }
    }
}

