<div (click)="setAsPri()">Basic version</div>
<div class="table">
        <div class="header-rows">
            <div class="header" (click)="onSort('title')">
                Title
            </div>
            <div class="header" (click)="onSort('address')">
                Bekrivelse
            </div>
            <div class="header" (click)="onSort('lastSaleDate')">
                updated
            </div>
            <div class="header" (click)="onSort('lastSalesPrice')">
                lastSalesPrice
            </div>
        </div>
    <div *ngFor="let sale of mapped" class="rows" [ngClass]="{'show':sale.show}"
        (click)="sale.show = !sale.show">
        <div class="cell">
            <div class="cellheader">title</div> {{sale.row.estateType}}
        </div>
        <div class="cell">
            <div></div>
            <div class="cellheader"> address</div> {{sale.row.address}}
            <div class="popup" [ngClass]="{'hidden':hidden}"></div>
        </div>
        <div class="cell">
            <div class="cellheader">bekrivelse</div> {{sale.row.bekrivelse}}
        </div>
        <div class="cell">
            <div class="cellheader">as price</div> {{sale.row.lastSalesPrice}}
        </div>
    </div>

</div>