@import "./../css/responsive-table-mixins.scss";

$flexValues: ("estateType":$medium, "address":$large, "lastSaleDate":$small, "lastSalesPrice":$small, "livingArea":$small, "time":$small);

$flexes: mapValueToArray($flexValues);

@include initalValues($flexes);

$columns: ("estateType":$show, "address":$show, "lastSaleDate":$show, "lastSalesPrice":$show, "livingArea":$hide, "time":$show);
@include responsive-colums(1120px, $columns);

$columns: ("estateType":$show, "address":$show, "lastSaleDate":$show, "lastSalesPrice":$show, "livingArea":$hide, "time":$hide);
@include responsive-colums(690px, $columns);