<div class="table" *ngIf="tableModel">
    <div class="header-rows">
        <div class="header" *ngFor="let header of headers; let i = index">
            <ng-container *ngTemplateOutlet="header.template"></ng-container>
        </div>
    </div>
    <div class="rows" (click)="onShowClicked(rowData)" [ngClass]="{'show':rowData.show}" *ngFor="let rowData of tableModel.rows; let j = index">
        <div class="cell" *ngFor="let cellTemplate of cells; let i = index">        
            <ng-container *ngTemplateOutlet="cellTemplate.template;context:{dataentry:rowData}"></ng-container>
        </div>
        
    </div>
</div>