<div style="display: flex; padding-bottom: 50px;">
	<div style="margin-right: 10px; background-color: aqua;" (click)="setSelected(sel.key)" *ngFor="let sel of sels">{{sel.value}}</div>
</div>

<app-tester *ngIf="selected === selectionsref.basic"></app-tester>
<app-test-templateversion  *ngIf="selected === selectionsref.template"></app-test-templateversion  >
<app-test-textversion *ngIf="selected === selectionsref.div"></app-test-textversion>
<app-test-dev-version-scroll *ngIf="selected === selectionsref.divscroll" ></app-test-dev-version-scroll>
<app-test-gid-version *ngIf="selected === selectionsref.grid"></app-test-gid-version>
<app-test-js-version *ngIf="selected === selectionsref.js"></app-test-js-version>